.box {
  width:1.4em;
  height:1.4em;
  
}
.empty {
  background: #fd5;
}

.player0 {
  background: #f81;
}

.highlight {
  background: #f00;
}

.player0.highlight {
  background: #c51;
}

.player1 {
  background:#321;
}

.player1.highlight {
  background: #654;
}

.eval {
  color: #333;
}
