.box {
  width:1.4em;
  height:1.4em;
  
}
.empty {
  background:#fd5;
}

.player0 {
  background:#f81;
}

.player0 .highlight {
  background: #e61;
}

.player1 {
  background:#321;
}

.player1 .highlight {
  background: #431;
}

.eval {
  color: #333;
}
